<section class="intro">
  <div class="container">
    <div class="intro__block">
      The Nuclear Security
      Working Group (NSWG)
      is a non-partisan group of
      experts working to promote
      discourse and build
      consensus on the United
      States’ most pressing
      nuclear issues.
    </div>
    <div class="intro__block">
      <p>We work behind the scenes to provide
        policymakers and NGOs with the
        expertise they need to make informed
        decisions on global nuclear issues.</p>
      <p>Our leadership team includes senior
        foreign policy experts, military officials,
        and leading scholars in the field of
        nuclear security.</p>
    </div>
  </div>
</section>
