<section class="members">
  <div class="container">
    <h1>Our Members</h1>
    <img src="../../../../assets/images/star_line.svg" alt="line">
    <div class="line-star"></div>
    <div class="members__slider">
      <div class="member__slide">
        <img src="../../../../assets/images/people.svg" alt="people">
        <h2>His Excellency King
          George IV of England,
          Wales, Scotland and
          Ireland</h2>
        <p>H.E. The Chair</p>
        <p class="description">Dr. Janne Nolan is the chair of
          the Nuclear Security Working Group and Research Professor
          at the Elliott School of International Affairs at The George Washington University. Her latest book, Tyranny of ...
        </p>
      </div>
      <div class="member__slide">
        <img src="../../../../assets/images/people.svg" alt="people">
        <h2>His Excellency King
          George IV of England,
          Wales, Scotland and
          Ireland</h2>
        <p>H.E. The Chair</p>
        <p class="description">Dr. Janne Nolan is the chair of
          the Nuclear Security Working Group and Research Professor
          at the Elliott School of International Affairs at The George Washington University. Her latest book, Tyranny of ...
        </p>
      </div>
      <div class="member__slide">
        <img src="../../../../assets/images/people.svg" alt="people">
        <h2>His Excellency King
          George IV of England,
          Wales, Scotland and
          Ireland</h2>
        <p>H.E. The Chair</p>
        <p class="description">Dr. Janne Nolan is the chair of
          the Nuclear Security Working Group and Research Professor
          at the Elliott School of International Affairs at The George Washington University. Her latest book, Tyranny of ...
        </p>
      </div>
    </div>
    <button class="find-more" type="button">Find out more
      about our members</button>
  </div>
</section>
