<section class="footer">
  <img class="footer-logo" src="/assets/images/nswg-logo-blue.png" alt="">
  <div class="container">
    <div class="footer__info">
      <div class="footer__info__col">
        <h4>Join our fellowship program</h4>
        <button type="button" class="find-more">Find out more</button>
      </div>
      <div class="footer__info__col">
        <h4>Subscribe to our newsletter</h4>
        <form action="#">
          <input type="email" placeholder="Enter your email">
          <button type="submit" class="send-button">Go</button>
        </form>
      </div>
      <div class="footer__info__col">
        <h4>Connect with us</h4>
        <div class="footer__info__social">
          <div class="footer__info__social-icon">

          </div>
          <div class="footer__info__social-icon">

          </div>
          <div class="footer__info__social-icon">

          </div>
        </div>
        <div class="footer__info__address">
          Nuclear Security Working Group
          1957 E Street NW, Suite 605-F
          Washington, DC 20052
          (202) 994-8017
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      Designed and built by We are Flint.
      <br>
      Copyright © 2018 Nuclear Security Working Group. All Rights Reserved.
      <br>
      Site Map
    </div>
  </div>
</section>
